.testingInput {
    padding: 19px 0 19px 32.1px;
}

.testingInputMainHead {
    background: #F4F4F4;
    padding-bottom: 2rem;
}

.testingInputMain {
    margin-left: 2rem;
    margin-right: 2rem;
    background: #ffffff;
    padding-bottom: 1rem;

    .heading {
        margin-bottom: 2rem;
    }

    .headingStart {
        background-color: #ffffff;
    }

    .iconRow {
        // svg {
        //     fill: #42BE65;
        // }

        padding-left: 0rem !important;
        padding-right: 0rem !important;
        display: inline-block;
        padding-top: 75% !important;
    }

    .labelrow {
        width: 30%;
        padding-top: 1rem;
        padding-left: 0rem !important;

        h6 {
            font-size: 14px;
            color: #000000;
            letter-spacing: 0;
            margin-bottom: 8px;
        }

        p {
            font-size: 12px;
            color: #161616;
            letter-spacing: 0.32px;
            line-height: 16px;

            svg {
                margin-right: 4px;
                margin-bottom: -2px;
            }
        }
        .igniteInfo{
            color: #FF832B;
        }

        a {
            font-size: 12px;
        }

    }

    .bx--data-table-container {
        width: auto !important;
        margin-left: 62px !important;
        margin-right: 4rem!important;
        margin-top: 0 !important;
    }

    tr {
        background-color: #ffff;

        td:last-of-type {
            width: 16%;
        }
    }

    .bx--data-table tbody tr:hover td,
    .bx--data-table tbody tr:hover th {
        background: #ffffff !important;
    }

    .bx--data-table tbody tr:hover {
        background: #ffffff !important;
    }

    .nonEdtible-class {
        text-align: left;
    }
}
