.main{
    padding-left: 2.2%;
}
.body{
    width: 95.6%;
    size: 1.75rem;
    letter-spacing: 0.5px;
    margin-left: 2.2%;
    margin-top: 1.7%;
}
.body1{
    padding-top: 2%;
    width: 95.6%;
    letter-spacing: 0.5px;
    padding-bottom: 3.1%;
    margin-left: 2.2%;
    

}
.button{
    size: 64px;
    padding-bottom: 3.3%;
    .prime{
        margin-right: 3%;
    }
}

.privacy-class{
    color:#0F62FE;
    font-size: 32px;
}
.text-class{
    margin-bottom: 1.7%;
}
.checkbox-class{
   margin-bottom: 3.1%;
}

.TermsofuseClass{
font-size: 16px;
color: #161616;
letter-spacing: 0;
line-height: 22px;
font-weight: 600;
}
.ibmprivacyClass{
    font-size: 16px;
    color: #161616;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 600;
    padding-top: 3.1%;
    padding-bottom: 0.8%;
}
.disclaimerClass{
font-size: 16px;
color: #161616;
letter-spacing: 0;
line-height: 22px;
font-weight: 600;
padding-top: 3.1%;
padding-bottom: 0.8%;
}
.businessclass{
    font-size: 16px;
    color: #161616;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: 600;
    padding-top: 3.1%;
    padding-bottom: 0.8%;
}
.contentClass{
font-size: 0.875rem;
color: #161616;
letter-spacing: 0;
line-height:  20px;;
font-weight: 400;
width:94.7%
}
.contentClass2{
    font-size: 0.875rem;
    color: #161616;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
    width:94.7%;
    padding-top: 2.1%;  
}
.termsContent{
font-size: 0.875rem;
color: #161616;
letter-spacing: 0;
line-height: 24px;
font-weight: 400;
}
.infolink2{
    padding-top: 2.1%;   
}
.businessLink{
    padding-bottom: 3.2%;    
}

.termsConditionmain{
    .title{
        font-size: 2.626rem;
        font-weight: bold;
        padding-top: 4.6%;
        padding-bottom: 1.7%;
    }
}