.expand-col{
padding-left: 100%;
margin-bottom: 0.3%;
}
.expands{
    padding-right: 26px;
    color: #0F62FE 100%;
    size: 76px;
}
.blePer{
    margin-bottom: 0.3%;
}
.blended-value{
    size: 68px;
    font-weight: bold;
    margin-bottom: 0.1%;
}
.blended-name{
    size: 32px;
    margin-right: 14.1%;
}

.my-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
